html,
body {
    background: rgb(33, 33, 33);
    background: linear-gradient(
        0deg,
        rgba(33, 33, 33, 1) 20%,
        rgba(0, 0, 0, 1) 50%,
        rgba(33, 33, 33, 1) 80%
    );
    color: #151316;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}
